<html>
    <head>
        <title>Inventory</title>
        <link rel="stylesheet" href="./index.css" />
        <script>
            // TODO: add debouncing to this function
            function suggestSKU(partialSKU, displayElement) {
                fetch("/api/suggest", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ partialSKU: partialSKU }),
                })
                    .then((res) => {
                        console.log(res)
                        return res.json()
                    })
                    .then((data) => {
                        for (const sku of data) {
                            // TODO:
                            console.log(sku);
                        }
                    });
            }

            document.addEventListener("DOMContentLoaded", () => {
                const skuPreview = document.querySelector("#sku-preview > span");

                document.querySelector("#sku-input")
                    .addEventListener("input", (event) => {
                        console.log(event.target.value);
                        const partialSKU = event.target.value;

                        // skuPreview.innerHTML = suggestSKU(event.target.value);
                        suggestSKU(partialSKU, null);
                    });
            });
        </script>
    </head>
    <body>
        <hr />

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>序号</th>
                    <th>SKU</th>
                    <th>尺寸</th>
                    <th>备注</th>
                    <th>数量</th>
                    <th>入仓日期</th>
                    <th>状况</th>
                    <th>出仓日期</th>
                </tr>
            </thead>

            <tbody>
                <% for (const item of items) { %>
                    <tr>
                        <td><%= item.internalid %></td>
                        <td><%= item.warehouseid %></td>
                        <td><%= item.sku %></td>
                        <td><%= item.size %></td>
                        <td><%= item.notes %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.inbounddate?.toDateString() %></td>
                        <td><%= item.condition %></td>
                        <td><%= item.outbounddate?.toDateString() %></td>
                    </tr>
                <% } %>
            </tbody>

            <tfoot>
                <tr>
                    <form method="post" action="/newItem">
                        <td><button>+</button></td>
                        <td><input name="warehouseid"/></td>
                        <td>
                            <div id="sku-wrapper">
                                <input name="sku" id="sku-input"/>
                                <div id="sku-preview"><span></span></div>
                            </div>
                        </td>
                        <td><input name="size"/></td>
                        <td><input name="notes"/></td>
                        <td><input name="quantity"/></td>
                        <td><input type="date" name="inbounddate"/></td>
                        <td><input name="condition"/></td>
                        <td><input type="date" name="outbounddate"/></td>
                    </form>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
