<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <p><a href="./new">New entry</a></p>
        <hr />
        <% for (const item of items) { %>
            <p>internal: <%= item.internalid %></p>
            <p>id: <%= item.warehouseid %></p>
            <p>quantity: <%= item.quantity %></p>
            <p>sku: <%= item.sku %></p>
            <p>condition: <%= item.condition %></p>
            <p>inbound: <%= item.inbounddate %></p>
            <hr />
        <% } %>
    </body>
</html>
