<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <p><a href="./new">New entry</a></p>
        <% for (const keyboard of keyboards) { %>
            <p>Product: <%= keyboard.keyboardname %></p>
            <p>id: <%= keyboard.keyboardid %></p>
            <p>quantity: <%= keyboard.quantity %></p>
            <p>manufacturer: <%= keyboard.manufacturername %></p>
            <p>switch: <%= keyboard.switchname %></p>
        <% } %>
    </body>
</html>
