<%- include("partials/header") %>

<%- include("partials/middler") %>

<h1>New Item</h1>

<form method="POST">
    <label>warehouseid</label>
    <input name="warehouse_id" type="text" required />

    <label>SKU</label>
    <input name="sku" type="text" />

    <label>size</label>
    <input name="size" type="text" />

    <label>note</label>
    <input name="notes" type="text" />

    <label>quantity</label>
    <input name="quantity" type="text" />

    <label>indate</label>
    <input name="inbounddate" type="date" />

    <label>condition</label>
    <select name="condition_id">
        <% for (const condition of conditionlist) { %>
            <option value="<%= condition.id %>"><%= condition.condition %></option>
        <% } %>
    </select>

    <label>outdate</label>
    <input name="outbounddate" type="date" />

    <label>status</label>
    <select name="status_id">
        <% for (const status of statuslist) { %>
            <option value="<%= status.id %>"><%= status.status %></option>
        <% } %>
    </select>

    <label>additional notes</label>
    <textarea name="addendum"></textarea>

    <button>Submit</button>
</form>

<%- include("partials/footer") %>
