<%- include("partials/header") %>

<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/table.css" />

<script>
// set this page to return to later
localStorage.setItem("returnTo", window.location);
</script>

<%- include("partials/middler") %>

<%
    currpage = currentPage;
    totalpages = totalPages;
%>

<a href="/">首页</a>
<a href="/newItem">添加</a>
<p>正在看<strong><%= rows.length %></strong>行</p>

<div class="table">
    <div class="table-header row">
        <div class="cell"><span class="warehouse_id">序号</span></div>
        <div class="cell"><span class="sku">SKU</span></div>
        <div class="cell"><span class="size">尺寸</span></div>
        <div class="cell"><span class="notes">备注</span></div>
        <div class="cell"><span class="quantity">数量</span></div>
        <div class="cell"><span class="condition">状况</span></div>
        <div class="cell"><span class="inbounddate">入仓日期</span></div>
        <div class="cell"><span class="outbounddate">出仓日期</span></div>
        <div class="cell"><span class="status">位</span></div>
        <div class="cell"><span class="actions">...</span></div>
    </div>

    <% for (const row of rows) { %>
        <div class="row">
            <div class="cell">
                <span class="warehouse_id"><%= row.warehouse_id %></span>
            </div>
            <div class="cell">
                <span class="sku"><%= row.sku %></span>
            </div>
            <div class="cell">
                <span class="size"><%= row.size %></span>
            </div>
            <div class="cell">
                <span class="notes"><%= row.notes %></span>
            </div>
            <div class="cell">
                <span class="quantity"><%= row.quantity %></span>
            </div>
            <div class="cell">
                <span class="condition"><%= row.condition %></span>
            </div>
            <div class="cell">
                <span class="inbounddate"><%= row.inbounddate %></span>
            </div>
            <div class="cell">
                <span class="outbounddate"><%= row.outbounddate %></span>
            </div>
            <div class="cell">
                <span class="status"><%= row.status %></span>
            </div>
            <div>
                <span class="actions">
                    <a href="/item/<%= row.internal_id %>" target="_blank">细信</a>
                    <a href="/editItem/<%= row.internal_id %>">编辑</a>
                </span>
            </div>
        </div>
    <% } %>
</div>

<a href="./<%= currpage - 1%>" <%= currpage == 1 ? "disabled" : "" %>>上一页</a>
<a href="./<%= currpage + 1 %>" <%= currpage == totalpages ? "disabled" : "" %>>下一页</a>
<p>第<strong><%= currpage %></strong>页</p>
<p>总共 <strong><%= totalpages %></strong>页</p>

<%- include("partials/footer") %>
